/* Write some CSS below */
h1{
	color: brown;
	text-align: center;
}
body{
	front-family: Overpass;
	color: #404042;
	font-size: 18px;
}

h1{
	color: back;
	font-family: Chivo;
}

h2, h3{
	font-family: Chivo;

}

recipe-of-the-week {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.recipe-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.banner{background-image: url(https://cdn.pixabay.com/photo/2022/04/30/19/12/cooking-banner-7166200_1280.jpg) ; height: 20vh;
}


.cards{ 
    display: grid; grid-template-columns: 1fr 1fr ; grid-gap: 20px ; margin-left: 10px; margin-bottom: 40px;
}


.recipe-of-the-week {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.recipe-image img {
    width: 350px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
}

.recipe-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.recipe-details h2 {
    color: #fff;
    text-align: center;
}

.recipe-of-the-week:hover .recipe-image img {
    transform: scale(1.05);
}

.recipe-of-the-week:hover .recipe-details {
    opacity: 1;
}

a:hover{
    color: sandybrown;
}
nav.{
     margin-top: 50px;
    background: #74695C;
     text-align: center;
}
ul{
    list-style-type: none;
}

li{
    display: inline-grid;
    margin:0.10px;
}

lia{
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px.16px;
    text text-decoration: none;
}

